body{
    align-items: center;
    justify-content: center;
    background: url("media/background.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.maquina{
    margin:10px;
    text-align:center;
    height:50vh;
    border-radius:15px;
}

#maquinaA{
    background-image: url(media/Tragamonedas.png);
    background-position: 100%;
    background-size: 100%;
}

#maquinaB{
    background-image: url(media/Tragamonedas2.png);
    background-position: 100%;
    background-size: 100%;
}

#box{
    height: 95vh;
    border-style:solid;
    background-color: rgba(255, 255, 255, .7);
    border-radius:25px;
}

#imgBienvenida{
    width: 100%;
    margin-bottom: 10px;
}

#IngresarBienv{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
#acercaDe{
    background-image: url(media/acercaDe.jpg);
}
#instrucciones{
    background-image: url(media/instrucciones.jpg);
}
#ranking{
    background-image: url(media/ranking.jpg);
}
#musica{
    background-image: url(media/musica.jpg);
}
.btn-circle.btn-sm {
    height:40px;
    width: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    font-size: 8px;
    text-align: center;
    background-repeat:no-repeat;
}
.icono{
    height:auto;
    max-width: 50px;
    width:100%;
}

.apuestas{
    border: solid 1px;
    background-color:rgba(255, 255, 255, .5);
    border-radius: 10px;
    justify-content: center;
}

.responsive-text{
    max-width: 100%;
    height:auto;
}

#btAPOSTAR1{
    width: 160px;
    margin-top: 25px;
    margin-right: 10px;
}

#btAPOSTAR2{
    margin-top: 20px;
    width: 160px;
    margin-right: 20px;
}

#SubirBajarApuesta1{
    margin-top: 330px;
    margin-right: 10px;
}

#SubirBajarApuesta2{
    margin-top: 330px;
    margin-right: 10px;
}